# Digit Recognition with PCA and Random Forests

The purpose of this notebook is to use PCA to develop a random forest model that correctly recognizes hand-drawn digits from 0-9. A successful algorithm could be used to recognize hand written addresses for sorting or correctly identifying forms based upon their name.

The major design flaw with the proposed experiment is that we don't do a train/test split to ensure we are not overfitting the algorithm. Thus, I will impliment a 80/20 split to validate the model prior to submitting to kaggle.

In [47]:
import pandas as pd
import numpy as np

import os

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split, cross_val_score
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans, MiniBatchKMeans
from sklearn.metrics import silhouette_score, accuracy_score

## Ingestion

In [2]:
train = pd.read_csv('https://raw.githubusercontent.com/jhancuch/pca-random-forest-digit-recognizer/main/data/train.csv')

In [3]:
test = pd.read_csv('https://raw.githubusercontent.com/jhancuch/pca-random-forest-digit-recognizer/main/data/test.csv')

In [13]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
train.columns

Index(['label', 'pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=785)

In [10]:
test.columns

Index(['pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5', 'pixel6',
       'pixel7', 'pixel8', 'pixel9',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=784)

In [37]:
len(train)

42000

In [36]:
len(test)

28000

## EDA

The dataset is overall a very clean dataset. We examine the distribution of classes. We see that there is a tight band between 11% and 9% meaning we don't have any overweight or underweight classes. There are additionally no null values.

In [6]:
print('percentage of total for each digit')
(train['label'].value_counts()/sum(train['label'].value_counts()))*100

percentage of total for each digit

1    11.152381
7    10.478571
3    10.359524
9     9.971429
2     9.945238
6     9.850000
0     9.838095
4     9.695238
8     9.673810
5     9.035714
Name: label, dtype: float64

In [7]:
train['label'].value_counts()

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

In [10]:
train.isnull().sum().sum()

0

In [11]:
train

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
train.describe()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

## Model Development

We will develop three models. Random Forest, Random Forest with PCA analysis, and K-Means clustering.

In [48]:
X = train.iloc[:, 1:]
y = train.iloc[:, 0]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [17]:
os.chdir(os.getcwd() + '/submissions')

### Random Forest

I first impliment a random forest classifier model. I first just use the base hyperparameters and run a cross validation of 5 folds. I find the mean accuracy is 96% so we don't do any further hyper parameter tuning. I then test the fitted model on the validation set (20%) and find a similar score.

In [22]:
rf = Pipeline([("scaler", StandardScaler()), ("model", RandomForestClassifier())])

In [23]:
rf_cv = cross_val_score(rf, X_train, y_train, cv=5, scoring = 'accuracy')
print("Scores:", rf_cv)
print("Mean:", rf_cv.mean())
print("Standard deviation:", rf_cv.std())

Scores: [0.96517857 0.95997024 0.96279762 0.95669643 0.95922619]
Mean: 0.9607738095238094
Standard deviation: 0.0029381497448058265

In [26]:
rf.fit(X_train, y_train)
rf_test = rf.predict(X_test)
print(accuracy_score(rf_test , y_test))

0.9655952380952381

In [27]:
%%time
rf.fit(X_train, y_train)
rf_predictions = rf.predict(test)

CPU times: user 16.4 s, sys: 59.2 ms, total: 16.5 s
Wall time: 16.5 s

In [12]:
rf_predictions

array([2, 0, 9, ..., 3, 9, 2])

In [40]:
Id = []
for i in range(1, len(rf_predictions) + 1):
    Id.append(i)

rf_sub = pd.DataFrame(list(zip(Id, rf_predictions)), columns = ['ImageId', 'Label'])
rf_sub.to_csv('rf submission.csv', index = False)

### Random Forest with PCA

I first combine the test and train datasets for PCA before splitting them apart again to ensure the train, validation, and test data all have had the same PCA transformations. I then run a cross validation of 5 folds and find the mean accuracy is 93. I then test the validation set and find an accuracy score of 93 and thus don't do any further hyperparameter tuning.

In [49]:
combined = X.append(test)
combined_scaled = StandardScaler().fit_transform(combined)

In [50]:
%%time
pca = PCA(n_components=0.95)
pca.fit(combined_scaled)
combined_reduced = pca.transform(combined_scaled)

CPU times: user 21.6 s, sys: 1.72 s, total: 23.3 s
Wall time: 6.44 s

In [51]:
pca.n_components_

332

In [52]:
X_train_pca = combined_reduced[:42000, :]

In [53]:
test_pca = combined_reduced[42000:, :]

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X_train_pca, y, test_size=0.2, random_state=123)

In [55]:
rf_pca = RandomForestClassifier()

In [56]:
rf_pca_cv = cross_val_score(rf_pca, X_train, y_train, cv=5, scoring = 'accuracy')
print("Scores:", rf_pca_cv)
print("Mean:", rf_pca_cv.mean())
print("Standard deviation:", rf_pca_cv.std())

Scores: [0.93154762 0.92291667 0.92514881 0.92142857 0.92901786]
Mean: 0.9260119047619046
Standard deviation: 0.0037686140441890587

In [57]:
rf_pca.fit(X_train, y_train)
rf_pca_test = rf_pca.predict(X_test)
print(accuracy_score(rf_pca_test, y_test))

0.9285714285714286

In [58]:
%%time
rf_pca.fit(X_train, y_train)
rf_pca_predictions = rf_pca.predict(test_pca)

CPU times: user 54.7 s, sys: 0 ns, total: 54.7 s
Wall time: 54.7 s

In [69]:
rf_pca_predictions

array([2, 0, 9, ..., 3, 9, 2])

In [70]:
Id = []
for i in range(1, len(rf_pca_predictions) + 1):
    Id.append(i)

rf_sub = pd.DataFrame(list(zip(Id, rf_pca_predictions)), columns = ['ImageId', 'Label'])
rf_sub.to_csv('rf pca submission.csv', index = False)

### K-Means Clustering

In [66]:
def retrieve_info(cluster_labels, y):
    reference_labels = {}
    for i in range(len(np.unique(kmeans.labels_))):
        index = np.where(cluster_labels == i,1,0)
        num = np.bincount(y[index==1]).argmax()
        reference_labels[i] = num
    return reference_labels

In [60]:
scaler = StandardScaler()

In [61]:
scaler.fit(X)

X_train_scaled = scaler.transform(X)
test_scaled = scaler.transform(test)

In [62]:
potential_k = list(range(10, 400, 20))
n_k = []
score = []

In [67]:
for k in potential_k:
    kmeans = MiniBatchKMeans(n_clusters=k)
    kmeans.fit(X_train_scaled)
    
    reference_labels = retrieve_info(kmeans.labels_, y)
    number_labels = np.random.rand(len(kmeans.labels_))
    for i in range(len(kmeans.labels_)):
        number_labels[i] = reference_labels[kmeans.labels_[i]]
        
    score.append(accuracy_score(number_labels, y))
    n_k.append(k)

In [68]:
pd.DataFrame({'Number of K': n_k, 'Accuracy': score})

    Number of K  Accuracy
0            10  0.488119
1            30  0.633452
2            50  0.701238
3            70  0.763238
4            90  0.740976
5           110  0.738119
6           130  0.786929
7           150  0.781976
8           170  0.797571
9           190  0.802619
10          210  0.792690
11          230  0.805500
12          250  0.820381
13          270  0.816952
14          290  0.829548
15          310  0.816476
16          330  0.822476
17           10  0.440381
18           30  0.621190
19           50  0.721119
20           70  0.731333
21           90  0.747976
22          110  0.773905
23          130  0.781214
24          150  0.787262
25          170  0.775786
26          190  0.806714
27          210  0.808214
28          230  0.809738
29          250  0.813548
30          270  0.815833
31          290  0.821619
32          310  0.830976
33          330  0.828357
34          350  0.837000
35          370  0.845643
36          390  0.849619

In [69]:
%%time
kmeans = MiniBatchKMeans(n_clusters=390).fit(X_train_scaled)
kmean_predictions = kmeans.predict(test_scaled)

CPU times: user 15.5 s, sys: 261 ms, total: 15.8 s
Wall time: 2.97 s

In [71]:
reference_labels = retrieve_info(kmeans.labels_, y)
number_labels = np.random.rand(len(kmeans.labels_))
for i in range(len(kmeans.labels_)):
    number_labels[i] = reference_labels[kmeans.labels_[i]]

In [72]:
number_labels

array([1., 0., 1., ..., 7., 6., 9.])

In [84]:
Id = []
for i in range(1, len(number_labels) + 1):
    Id.append(i)

rf_sub = pd.DataFrame(list(zip(Id, number_labels)), columns = ['ImageId', 'Label'])
rf_sub.to_csv('kmeans submission.csv', index = False)

## Conclusion

Prior to any test results from Kaggle, if I were to deploy one of these three models, it would be the random forest due to its high accuracy. However, prior to deployment, I would need to test the actual computation time again for both the random forest model and the pca random forest model. I originally used %%time which just computes the time for a single run. However, by using timeit%% instead, it conducts 1000 iterations and computes the mean and standard deviation which would give us a much better sense of what the actual population stastitic is.